<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Registration</h1>
<form method="post" action="register">
    {% csrf_token %}
    <h1><input type="text" name="username" placeholder="Enter your name"><br>
    <input type="text" name="first_name" placeholder="Enter your firstname"><br>
    <input type="text" name="last_name" placeholder="Enter your lastname"><br>
    <input type="email" name="email" placeholder="Enter your email-id"><br>
    <input type="password" name="password" placeholder="Enter your Password"><br>
    <input type="password" name="password1" placeholder="Enter your Password"><br>
    <input type="submit"><br>
   </h1>
</form>
{% for msg in messages %}
<h1>{{msg}}</h1>
{% endfor %}
</body>
</html>